

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
.navbar-inverse {
    background: none;

    background-color: red;

}
*/

.red {

    background-color: red;
}













